{% extends "_base.html" %}
{% load crispy_forms_tags %}


{% block title %}
    Adra-Gastos
{% endblock %}


{% block content %}
    <h1 class="text-center mb-5">Control de gastos</h1>
    <div class="row" style="min-height: 70vh">
        <div class="col-md-6">
            <h3 class="mb-2">Balanace:
                {% if balance.tipo == 'ambas' %}
                    <span style="color:{% if balance.es_positivo %} #5eba13{% else %} red {% endif %}"> {{ balance.balance }}</span>
                {% elif balance.tipo == 'gasto'  %}
                    <span style="color: red "> {{ balance.balance }}</span>
                {% elif balance.tipo == 'ingreso' %}
                    <span style="color:  #5eba13"> {{ balance.balance }}</span>
                {% else %}
                    {{ balance.balance }}
                {% endif %}

            </h3>

            <div class="tabla">
                <div class="header-balance"
                     style="height: 5vh;display:flex;text-align: center;align-items:center;background: #000;color: white;font-size: 20px;">
                    <div style="width: 33.3%">concepto</div>
                    <div style="width: 33.3%">fecha</div>
                    <div style="width: 33.3%">importe</div>
                </div>
                <div class="body-balance" style="overflow-y: auto;height: 40vh">
                    {% for gasto in gasto_ret %}
                        <div class="header-balance" style="display:flex;text-align: center;min-height: 5vh">
                            <div style="width: 33.3%;word-break: break-all">{{ gasto.concepto }}</div>
                            <div style="width: 33.3%">{{ gasto.fecha }}</div>
                            <div style="width: 33.3%;color: {% if gasto.tipo == 'ingreso' %} #5eba13 {% else %} red{% endif %}">{{ gasto.importe }}</div>
                        </div>


                    {% endfor %}

                </div>

            </div>


        </div>
        <div class="col-md-6">
            <h3>Añadir Ingresos / Gastos</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{ form_g|crispy }}
                <div class="form-group">
                    <button class="btn btn-success btn-block" type="submit">Agregar</button>
                </div>
            </form>
        </div>
    </div>


{% endblock content %}

